name: Build Rime with copilot plugin

on:
  push:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: write

env:
  # 使用 CMake 和 Ninja
  CMAKE_GENERATOR: Ninja

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Rime (main repository)
        uses: actions/checkout@v4
        with:
          repository: rime/librime
          path: librime-root
          submodules: recursive
          fetch-depth: 0

      - name: Checkout Copilot Plugin (this repository)
        uses: actions/checkout@v4
        with:
          path: librime-root/plugins/librime-copilot
          submodules: recursive
          fetch-depth: 0

      - name: Install dependencies
        uses: crazy-max/ghaction-chocolatey@v2
        with:
          args: install cmake ninja -y

      - name: Setup Vcpkg
        shell: powershell
        run: |
          git clone https://github.com/microsoft/vcpkg.git $env:GITHUB_WORKSPACE/vcpkg
          & "$env:GITHUB_WORKSPACE/vcpkg/bootstrap-vcpkg.bat"
          echo "$env:GITHUB_WORKSPACE/vcpkg" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install Dependencies via Vcpkg
        shell: powershell
        working-directory: ${{ github.workspace }}/vcpkg
        run: |
          .\vcpkg install boost:x64-windows glog:x64-windows yaml-cpp:x64-windows leveldb:x64-windows marisa-trie:x64-windows opencc:x64-windows

      - name: Configure CMake
        shell: powershell
        working-directory: ${{ github.workspace }}/librime-root
        run: |
          $env:VCPKG_ROOT="${{ github.workspace }}/vcpkg"
          cmake -G Ninja -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake" -DBUILD_SHARED_LIBS=ON -DBUILD_SEPARATE_LIBS=ON -DENABLE_EXTERNAL_PLUGINS=ON -B build

      - name: Build
        shell: powershell
        working-directory: ${{ github.workspace }}/librime-root
        run: |
          cmake --build build --config Release

      - name: Upload Rime DLL
        uses: actions/upload-artifact@v4
        with:
          name: rime-dll
          path: ${{ github.workspace }}/librime-root/build/Release/rime.dll

      - name: Upload Copilot Plugin
        uses: actions/upload-artifact@v4
        with:
          name: librime-copilot
          path: |
            ${{ github.workspace }}/librime-root/build/Release/librime-copilot.dll
            ${{ github.workspace }}/librime-root/build/Release/rime.dll

      - name: Upload All LIB Files
        uses: actions/upload-artifact@v4
        with:
          name: lib-files
          path: ${{ github.workspace }}/librime-root/build/Release/*.lib
